.contact-section {
  text-align: center;
  background: linear-gradient(135deg, rgb(0, 0, 0), rgb(0, 0, 0));
  padding: 60px 100px;
  backdrop-filter: blur(10px);
  /* background: linear-gradient(145deg, #121212cc, #1a1a1acc); */
  color: #FFD700;
  border-radius: 12px;
  box-shadow: 0px 10px 30px 0px #000;
  margin-bottom: 40px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-section:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 40px 0px #000;
}

.contact-section h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #FFD700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: fadeIn 1s ease-in-out;
}

.contact-input {
  background: #333;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 12px 15px;
  /* padding: 200px; */
  transition: all 0.3s ease-in-out;
}

.contact-input:hover,
.contact-input:focus-within {
  background: #444;
  box-shadow: 0px 4px 8px 0px #ff7b00cc;
}

.contact-button {
  background: #222;
  color: #FFD700;
  margin-top: 20px;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 50px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 6px 15px 0px #000;
}

.contact-button:hover {
  background: #333;
  border: 2px solid #FFD700;
  box-shadow: 0px 8px 18px 0px #ff7b004d;
}

.contact-button:active {
  background: #444;
  transform: scale(0.98);
}

@media (max-width: 600px) {
  .contact-section {
    padding: 40px 15px;
  }
  .contact-input {
    margin-bottom: 15px;
  }
  .contact-button {
    width: 100%;
    padding: 14px;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
